# ? production and development
NODE_ENV=development
PORT=3001

DATABASE_URL=example

BCRYPT_SALT_ROUNDS=10

MAX_LOGIN_ATTEMPTS=5
LOCK_DURATION_MS=120000

JWT_SECRET=example
JWT_EXPIRES_IN=120000

SUPABASE_URL=example
SUPABASE_SERVICE_ROLE_KEY=example
SUPABASE_BUCKET_CABINS=cabins_images